body, html{
  height: 100%;
  font-family: "Raleway";
}

.bg-ship{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;

  background-image: linear-gradient(0deg, rgba(0, 0, 50, 0.3), rgba(0, 0, 128, 0.05)),
  url('/static/ship.jpg');
  min-height: 100vh;
  min-width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes smooth {
  0% { opacity:0; }
  45% { opacity:0; }
  55% { opacity:1; }
  100% { opacity:1; }
}

.bg-doc{
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
  url('/static/doctor.jpg');

  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation-name: smooth;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;

}

.btn {
  text-transform: none;
}

.contact-button{
  font-style: normal;
  font-size: 10pt;
}

nav{
  background-color: rgba(0,0,0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}



.hero-container{
  margin-top: 30vh;
  margin-left: 7vw;
}



.hero-text{
  color: white;
  font-weight: 800;

}

.smaller-hero{
  margin-bottom: -16pt;
}

.brand-logo{
  max-height: 7vh;
  height: 7vh;
}

@media screen and (max-width: 992px) {
    .brand-logo {
        max-height: 7vh;
        height: 7vh;
    }

    img.logo-img{
      height: inherit;
      max-height: inherit;
      padding-left: 30px;
    }
}

img.logo-img{
  height: inherit;
  max-height: inherit;
  position: fixed;
}

a.hero-button{
  opacity: 0.8;
  background-color: rgba(0,0,0, 0);
  border: 2px solid gray;
  height: 100%;
  width: 100%;
  padding: 10px 0px;
  font-size: 10pt;
}

@media screen and (max-width: 600px){
  a.hero-button{
    margin-top: 15px;
  }
}

a.hero-button:hover{
  opacity: 0.9;
  background-color: #ffeb3b;
  color: black;
  font-size: 11pt;
  font-weight: 900;
}
